/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--secondary-color);} 

:root{
    --main-color: #ff7600;
    --secondary-color: rgb(52, 70, 208);
}

button:focus{
    outline: none;
}

.saveButton{
    background-color: var(--main-color);
    color: #fff
}

.full-width {
    width: 100%;
}

button{
    outline: none;
}

.text-area{
    min-height: 40px;
    max-height: 120px;
    overflow: auto;
    height: 80px;
}

.wordBreak{
  word-break: break-word;
}

.mat-simple-snackbar{
    word-break: break-word;
}