<h1 mat-dialog-title class="wordBreak text-center">Editing task {{ taskName }}</h1>
<div mat-dialog-content>
  <p class="text-muted text-center">Write new data about this task</p>
  
  <hr>

  <form class="mt-4">

    <div *ngIf="addError" class="alert text-center alert-danger" role="alert">
      <p ><strong>Error!</strong> </p> 
      <p> <strong>Name</strong> can not be empty.</p>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Task name</mat-label>
      <input autocomplete="off" maxlength="60" name="inputName" [value]="taskName" matInput #inputName>
      <mat-hint align="end">{{inputName.value.length}} / 60</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width mt-2">
      <mat-label>This task is about...</mat-label>
      <textarea #textDescription class="text-area" maxlength="128" [value]="taskDesc" matInput></textarea>
      <mat-hint align="end">{{textDescription.value.length}} / 128</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estimated completion date</mat-label>
      <input autocomplete="off" matInput #taskDate [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button class="saveButton" (click)="updateTask()">Update</button>
    </div>

  </form>

</div>
