<h1 mat-dialog-title class="text-center">Add a new list</h1>
<div mat-dialog-content>
  <p class="text-muted text-center">Let's do it!</p>
  
  <hr>

  <form class="mt-4">

    <div *ngIf="addError" class="alert text-center alert-danger" role="alert">
      <p><strong>Error!</strong> </p> 
      <p> <strong>Name</strong> can not be empty.</p>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>List name</mat-label>
      <input maxlength="60" autocomplete="off" name="inputName" matInput #inputName>
      <mat-hint align="end">{{inputName.value.length}} / 60</mat-hint>
    </mat-form-field>
  
    <mat-form-field appearance="fill" class="full-width mt-2">
      <mat-label>This list is about...</mat-label>
      <textarea #textComment maxlength="128" class="text-area" matInput></textarea>
      <mat-hint align="end">{{textComment.value.length}} / 128</mat-hint>
    </mat-form-field>

    <div mat-dialog-actions align="end">
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button class="saveButton" (click)="validateData()">Save</button>
    </div>

  </form>

</div>
